.App {
  text-align: center;
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tax-deduction__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 198px;
  height: 56px;

  border: 1px solid #FFFFFF;

  background-color: rgba(0,0,0, 0);
  border-radius: 6px;

  font-size: 16px;
  line-height: 16px;
  color: white;
  transition: background 0.5s, color 0.5s;

  &:hover {
     background: #FFFFFF;
     border-radius: 6px;
     color: #000000;
  }
  &:active {
     opacity: 0;
  }
  &.disabled {
     background: #BEC5CC;
     border: 1px solid #BEC5CC;
  }
}


@media screen and (max-width: 576px) {

}