
* {
  cursor: inherit;
  box-sizing: border-box;
}
@font-face {
  font-family: "LabGrotesque";
  src: url("shared/fonts/LabGrotesqueMedium.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: LabGrotesque;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;

  cursor: url("shared/images/Pointer.png") 6 0, pointer;
}

